- wiki_page_title @page, _('History')
- add_page_specific_style 'page_bundles/wiki'

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  = wiki_sidebar_toggle_button

  %h1.page-title
    = link_to_wiki_page @page
    %span.light
      &middot;
      = _('History')

.prepend-top-default.gl-mb-3
  .table-holder
    %table.table.wiki-history
      %thead
        %tr
          %th= s_('Wiki|Page version')
          %th= _('Author')
          %th= _('Changes')
          %th= _('Last updated')
      %tbody
        - @commits.each do |commit|
          %tr
            %td
              = link_to wiki_page_path(@wiki, @page, version_id: commit.id) do
                = truncate_sha(commit.id)
            %td
              = commit.author_name
            %td
              .commit-content
                = link_to wiki_page_path(@wiki, @page, action: :diff, version_id: commit.id), { title: commit.message } do
                  = commit.message
            %td
              = time_ago_with_tooltip(commit.authored_date)
  = paginate @commits, theme: 'gitlab'

= render 'shared/wikis/sidebar'
